<!-- <div class="eye-container" [@fadeInOut]> -->
    <!-- <div class="sources">
        <div>
            SOCIAL MEDIA <br>
            <a href="#">INSTAGRAM</a> -- <a href="#">LINKEDIN</a>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
<!-- </div> -->

<div class="loading-page">
    <video autoplay loop muted class="eye-ball">
        <source src="/assets/params/images/coming-soon/eye-ball-video.mp4" type="video/mp4">
    </video>
    <video autoplay loop muted class="dust-grain">
        <source src="/assets/params/images/coming-soon/loading-video.mp4" type="video/mp4">
    </video>
    <video autoplay loop muted class="light-overlay">
        <source src="/assets/params/images/coming-soon/light-leaks-overlay.mp4" type="video/mp4">
    </video>

    <div class="coming-soon-container">
        <div class="coming-soon">
            <div class="coming">Coming</div>
            <div class="soon">soon</div>
        </div>
        <div class="where">Where Vision Meets Innovation</div>
        <div class="tape">
            <img src="/assets/params/images/coming-soon/tape.gif" alt="">
        </div>
        <img class="skotch" src="/assets/params/images/coming-soon/skotch.png" alt="">
        <div class="file-container">
            <div class="video5-container">
                <img src="/assets/params/images/coming-soon/frame-5.svg" alt="">
                <video autoplay loop muted class="video-5">
                    <source src="/assets/params/images/coming-soon/video-5.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-5.png" class="plyonka-5" alt="">
                <!-- <img src="/assets/params/images/coming-soon/texture-5.png" class="plyonka-5" alt=""> -->
            </div>
            <div class="video4-container">
                <img src="/assets/params/images/coming-soon/frame-4.svg" alt="">
                <video autoplay loop muted class="video-4">
                    <source src="/assets/params/images/coming-soon/video-4.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-4.png" class="plyonka-4" alt="">
                <!-- <img src="/assets/params/images/coming-soon/texture-4.png" class="plyonka-4" alt=""> -->
            </div>
            <div class="video3-container">
                <img src="/assets/params/images/coming-soon/frame-5.svg" alt="">
                <video autoplay loop muted class="video-3">
                    <source src="/assets/params/images/coming-soon/video-3.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-5.png" class="plyonka-3" alt="">
                <!-- <img src="/assets/params/images/coming-soon/texture-5.png" class="plyonka-3" alt=""> -->
            </div>
            <div class="video2-container">
                <img src="/assets/params/images/coming-soon/frame-5.svg" alt="">
                <video autoplay loop muted class="video-2">
                    <source src="/assets/params/images/coming-soon/video-2.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-5.png" class="plyonka-2" alt="">
                <!-- <img src="/assets/params/images/coming-soon/texture-5.png" class="plyonka-2" alt=""> -->
            </div>
            <div class="video1-container">
                <img src="/assets/params/images/coming-soon/frame-4.svg" class="frame-prodigma" alt="">
                <video autoplay loop muted class="video-1">
                    <source src="/assets/params/images/coming-soon/video-1.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-4.png" class="plyonka-1" alt="">
                <!-- <img src="/assets/params/images/coming-soon/texture-4.png" class="plyonka-1" alt=""> -->
            </div>
            <div class="duct-tape-container">
                <img src="/assets/params/images/coming-soon/duct-tape.png" alt="">
            </div>
            <div class="logo-pin-container">
                <img src="/assets/params/images/coming-soon/logo-pin.png" alt="">
            </div>
            <div class="prodigma-org-container">
                <img src="/assets/params/images/coming-soon/prodigma-org.svg" alt="">
            </div>
            <div class="prodigma-pin-container">
                <img src="/assets/params/images/coming-soon/prodigma-pin.png" alt="">
            </div>
            <div class="video-pin-container">
                <img src="/assets/params/images/coming-soon/video-pin.png" alt="">
            </div>
            <div class="photo-pin-container">
                <img src="/assets/params/images/coming-soon/photo-pin.png" alt="">
            </div>
            <div class="design-pin-container">
                <img src="/assets/params/images/coming-soon/design-pin.png" alt="">
            </div>
            <div class="dev-pin-container">
                <img src="/assets/params/images/coming-soon/dev-pin.png" alt="">
            </div>


    		<img class="file-icon" alt="" src="/assets/params/images/coming-soon/file.png">
    		
        </div>

        <div class="p-btn">
            <button> Press "P" </button>
        </div>
    </div>

    <div class="links">
        <div class="social-media-parent">
            <div>
                <div class="social-media">SOCIAL MEDIA</div>
                <span class="instagram">INSTAGRAM</span>
                <hr class="midline">
                <span class="linkedin">LINKEDIN</span>
            </div>
        </div>
        <div class="portfolio-parent">
            <div>
                <div class="social-media">PORTFOLIO</div>
                <span class="behance">BEHANCE</span>
                <hr class="midline">
                <span class="dribble">DRIBBLE</span>
            </div>
        </div>
        <div class="get-in-touch-parent">
            <div>
                <div class="social-media">GET IN TOUCH</div>
                <div class="helloprodigmaorg">HELLO&#64;PRODIGMA.ORG</div>
            </div>
        </div>
        <div class="prodigma-mmc-2024-parent">
            <div>
                <div class="prodigma-mmc-2024">© PRODIGMA MMC 2024</div>
                <div class="all-rights-reserved">ALL RIGHTS RESERVED</div>
            </div>
        </div>
    </div>

</div>